.layout {
  color: var(--txt-color);
}

.layout__content {
  padding-left: var(--sidebar-width);
  background-color: var(--second-bg);
  min-height: 100vh;
  transition: all 0.3s ease 0.3s;
}

.layout__content-main {
  padding: 30px;
}
.layout__content.minimize {
  padding-left: 0px;
  transition: all 0.3s ease 0.3s;
}

@media only screen and (max-width: 720px) {
  .layout__content {
    padding-left: 50px;
  }
}
